.container {
  /* Your existing container styles */
}

.main {
  /* Your existing main styles */
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
  text-align: center; /* Center text horizontally */
}

.title {
  /* Your existing title styles */
}

.walletConnect {
  display: flex;
  justify-content: flex-end; /* Right-align items */
  margin-bottom: 40px;
}

.nftContainer {
  display: flex;
  align-items: center; /* Center items vertically */
  justify-content: center; /* Center items horizontally */
  margin-bottom: 20px;
}

.imageContainer {
  text-align: center; /* Center image horizontally */
  margin-right: 20px; /* Add right margin for spacing */
}

.textContainer {
  text-align: center; /* Center text horizontally */
  margin-left: 20px; /* Add left margin for spacing */
}

.textContainer p {
  margin: 0;
  margin-bottom: 10px; /* Add desired spacing between paragraphs */
}

@media (max-width: 600px) {
  .nftContainer {
    flex-direction: column;
    align-items: center; /* Center items vertically on smaller screens */
  }

  .imageContainer {
    margin-right: 0;
    margin-bottom: 10px;
  }
}
